{%extends 'base.html'%}
{% load static %}
{%load humanize%}
{%block css%}
    <link href="{% static 'css/profile.css'%}" rel="stylesheet">
{%endblock%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <h4 class="mt-3 mb-3">Профиль</h4>
            <div class="col-lg-12 text-center">
                {%if user.image%}
                <img width="100" height="100" src="{{user.image.url}}" class="img-thumbnail">
                {% else %}
                <img width="100" height="100"
                     src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1765bc6c014%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1765bc6c014%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.421875%22%20y%3D%22104.65%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                     class="img-thumbnail">
                {%endif%}
            </div>
            <form method="post" action="{%url 'store:profile'%}" enctype="multipart/form-data">
                {%if form.errors %}{{form.errors}}{%endif%}
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="small mb-1" for="{{form.first_name.id_for_label}}">Имя</label>
                            {{form.first_name}}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="small mb-1" for="{{form.last_name.id_for_label}}">Фамилия</label>
                            {{form.last_name}}
                        </div>
                    </div>
                </div>
                <div class="form-row mb-2">
                    <div class="col-lg-12">
                        <div class="custom-file">
                            {{form.image}}
                            <label class="custom-file-label" for="{{form.image.id_for_label}}">Выберите изображение</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-6">
                        <label class="small mb-1" for="{{form.username.id_for_label}}">Имя пользователя</label>
                        {{form.username}}
                    </div>
                    <div class="col-lg-6">
                        <label class="small mb-1" for="{{form.email.id_for_label}}">Адрес электронной
                            почты</label>
                        {{form.email}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-12" style="margin-top: 33px;">
                        <input class="btn btn-info btn-block" type="submit" value="Сохранить">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-5">
            <h4 class="mt-3 mb-3 d-flex justify-content-between align-items-center mb-3">
                Корзина <span class="badge badge-secondary badge-pill">{{count_all_products}}</span>
            </h4>
            {% if products_in_busk %}
            {%for product in products_in_busk%}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{product.product.name}}</h5>
                    <p class="card-text">{{product.product.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between lh-condensed bg-light">
                        <span class="text-muted">{{product.count}} шт.</span>
                        <span class="text-muted">{{product.product.price|intcomma}} руб.</span>
                        <span class="text-muted">
<!--                            <a href="#" style="text-decoration: none; color: gray;">-->
<!--                                <i class="fas fa-cart-plus"></i>-->
<!--                            </a>-->
                            <form method="post" style="">
                                {%csrf_token%}
                                <input type="hidden" name="product" value="{{product.product.id}}">
                                <input type="submit" value="➕" name="add_one_product" id="" style='border:none;'>
                                <input type="submit" value="🗑" style="border: none;" name="del_one_product">
                            </form>

                        </span>
                    </li>
                </ul>
            </div>
            {%endfor%}
            <div class="card mb-3">
                <div class="card-footer">
                    <p class="float-left">Итого</p>
                    <h4 class="float-right">{{total_price|intcomma}} руб.</h4>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-lg float-right">Оформить</button>
            {%else%}
            <h3>Вы пока не добавили ни одну вещь.</h3>
            <a href="{%url 'store:catalog'%}" class="btn btn-success btn-lg float-right">Открыть каталог</a>
            {%endif%}
        </div>
    </div>
</div>
{%endblock%}